body {
    font-size: 20px;
    margin-left: 15%;
    margin-top: 10%;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 4px;
    cursor: pointer;
    background-color: pink;
}

button:hover {
    background-color: palevioletred;
}

ul {
    padding-left: 0;
}

li {
    display: block;
}

li button.active {
    background-color: pink;
}

.boardContainer {
    height: 100vh;
}

.boardRow::after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: white;
    border: 1px solid gray;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 64px;
}

.square.active {
    background-color: pink;
    border: 2px solid palevioletred;
}

.square:focus {
    outline: none;
    background: pink;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.infoContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}